:root {
  --background-color: #ffffff;
  --text-color: #03040d;
  --primary-color: #8fb3ff;
  --secondary-color: #ebf1ff;
  --accent-color: #ff8f94;
}

.page {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  color: var(----text-color);
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  background-color: var(--secondary-color);
  max-width: 500px;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.qiuz-block__header {
  border-bottom: var(--accent-color) 2px solid;
  padding-block-end: 5px;
}
.question-counter {
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  opacity: 0.5;
}

.quiz-block__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question {
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  line-height: 85%;
  color: var(----text-color);
  font-family: "Poppins", sans-serif;
}

.answers-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.answers-list-item input[type="radio"] {
  appearance: none;
  display: none;
}

.answers-list-item label {
  cursor: pointer;
  display: block;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.answers-list-item input[type="radio"]:checked + label {
  background-color: var(--accent-color);
}
.answers-list-item label:hover {
  background-color: var(--accent-color);
}

button {
  background-color: var(--primary-color);
  color: var(--background-color);
  display: inline-block;
  min-width: 100px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  align-self: end;
}

button:hover {
  background-color: var(--accent-color);
}

.no-hover {
  pointer-events: none;
  background-color: transparent;
}

.right_answer {
  border: none;
  background-color: #0aeb19;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.wrong_answer {
  background-color: #fb333d;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
